# FastAPI і сервер
fastapi
uvicorn

# База даних і ORM
sqlalchemy
alembic
asyncpg

# Безпека
python-jose[cryptography]
passlib[bcrypt]

# Робота з файлами і конфігурацією
python-multipart
python-dotenv

# Валідація
email-validator
pydantic[email]

# Хмарне сховище
cloudinary